@font-face {
	font-family: 'Obviously';
	src: url('../fonts/obviously-variable.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-stretch: 50% 100%;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'General Sans';
	src: url('../fonts/GeneralSans-Variable.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-stretch: 50% 100%;
	font-style: normal;
	font-display: swap;
}
