@use "../abstracts" as *;

body {
	@include type-role(ui);

	font-family: var(--font-body);
	overflow-x: hidden;
}

img {
	width: 100%;
	height: auto;
}

figure {
	position: relative;
	margin: 0;
}

.page-title {
	padding-block-start: 15rem;
}

.page-content {
	padding-block-end: var(--section-space-editorial);
}

.divider {
	width: 100%;
	height: 1px;
	background-color: var(--color-white);
}
