@use "../abstracts" as *;

.intro-screen {
	position: absolute;
	inset: 0;
	z-index: 20;
	width: 100%;
	min-height: 100svh;
	overflow: hidden;
	background: var(--color-secondary);
	color: var(--color-primary);
	clip-path: inset(0 0 0 0);
	pointer-events: none;
	will-change: clip-path;

	.container {
		min-height: 100svh;
	}
}
