@use "../abstracts" as *;

.main-nav {
	z-index: 999;

	& * {
		//font-weight: $font-weight-semibold;
	}

	.nav-links {

		.nav-link {
			//font-family: var(--heading-font);

			.bottom-text {
				color: $secondary;
			}
		}
		span.star {
			margin: 0 1.5rem;
		}
	}

	.slot-machine-text {
		position: relative;
		display: block;
		height: 2rem;
		overflow: hidden;
	}

	.slot-machine-text-container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;

		span {
			display: inline-block;
			white-space: nowrap;
			will-change: transform, opacity;

			&:nth-child(2) {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	.chars {
		display: inline-block;
	}

	a {
		text-decoration: none;
		color: var(--color-white);

		&.work-status {

			.btn-text-container {

				.work-indicator {
					display: inline-block;
					width: 8px;
					height: 8px;
					background-color: rgb(28 219 28);
					border-radius: 10px;
					margin-inline: var(--space-2);
					box-shadow: 0 0 10px rgb(28 219 28);

					.pulse {
						display: block;
						width: 8px;
						height: 8px;
						border-radius: 10px;
						animation: pulse 2s ease infinite;
						background-color: rgb(28 219 28);
					}
				}

				//.btn-text-wrapper:first-of-type {
				//
				//	&::before {
				//		content: '';
				//		display: inline-block;
				//		width: 8px;
				//		height: 8px;
				//		background-color: rgb(28 219 28);
				//		border-radius: 10px;
				//		margin-right: 0.5rem;
				//		margin-left: 0.5rem;
				//		box-shadow: 0 0 10px rgb(28 219 28);
				//		transform: scale(1);
				//		animation: pulse 2s infinite;
				//	}
				//}
			}
		}
	}

	.site-logo {
		display: flex;
		align-items: center;

		.avatar {
			max-width: 2.75rem;
			border-radius: 30px;
			overflow: hidden;
			margin: 0 1rem 0 0;
		}

		.name,
		.role {
			line-height: var(--line-height-tight);

			@include respond(sm) {
				line-height: 2.75rem;
			}
		}
	}

	.name,
	.role,
	.lang-switcher {
		line-height: var(--line-height-tight);
		user-select: none;

		@include respond(sm) {
			line-height: 2.75rem;
		}
	}
}