.tag {
	display: inline-flex;
	align-items: center;
	//border: 1px solid color-mix(in srgb, currentColor 28%, transparent);
	border-radius: var(--radius-full);
	padding: var(--space-2) var(--space-3);
	background: color-mix(in srgb, var(--color-dark) 7%, transparent);
	color: inherit;
	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-tight);
	white-space: nowrap;

	&--sm {
		padding: var(--space-1) var(--space-2);
		font-size: var(--font-size-2xs);
	}
}
