@use "../abstracts" as *;

// Homepage section styling lives in src/assets/styles/sections.

main:has(.page-surface) {
	background-color: var(--color-black);

	&.scrolled {
		.page-surface__scrim--top {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&.scrolled-after:not(.page-bottom) {
		.page-surface__scrim--bottom {
			opacity: 1;
			transform: translateY(0);
		}
	}
}

.page-surface {
	position: relative;
	transform-origin: center center;
	overflow-x: clip;
}

.page-surface__background {
	position: fixed;
	inset: 0;
	z-index: 0;
	background-color: var(--color-primary);
	background-position: 50%;
	background-image: url("/images/dot-pattern.png");
	transform-origin: center top;
	pointer-events: none;
}

#smooth-wrapper {
	position: relative;
	z-index: 1;
}

.page-surface__scrims {
	position: fixed;
	top: 0;
	z-index: 900;
	width: 100%;
	height: var(--viewport-height-dynamic);
	margin-block-end: calc(var(--viewport-height-dynamic) * -1);
	pointer-events: none;
}

.page-surface__scrim {
	position: absolute;
	left: 0;
	width: 100%;
	height: 8rem;
	opacity: 0;
	transition:
		opacity .3s cubic-bezier(.165,.84,.44,1),
		transform .3s cubic-bezier(.165,.84,.44,1);
}

.page-surface__scrim--top {
	top: 0;
	transform: translateY(-1.5rem);
	@include scrimGradient($primary, "to bottom");
}

.page-surface__scrim--bottom {
	bottom: 0;
	transform: translateY(1.5rem);
	@include scrimGradient($primary, "to top");
}
