@use "../abstracts" as *;

.resume-list {

	.resume-list-item {
		display: flex;
		flex-direction: column;

		&:not(:last-of-type) {
			margin-bottom: var(--space-8);
		}

		.industry {
			@include type-role(label);

			margin-top: var(--space-1);
		}

		.period {
			color: $secondary;
		}
	}
}
