.marquee-container {
	line-height: 1.2;
	left: 0;
	width: 100%;
}

.wrapperRollingText,
.wrapperRollingText02 {
	white-space: nowrap;
}
.text {
	font-size: 14vw;
	display: inline-block;
	font-family: var(--heading-font);
	line-height: 1.2;
	overflow: hidden;
	position: relative;
}
.text > span {
  padding-left: 3rem;
}

.limits {
  position: fixed;
  top: 20vh;
  height: 10vh;
  width: 1px;
}
.half {
  position: fixed;
  top: 10vh;
  width: 1px;
}

.marquee {
	display: flex;
	flex-direction: column;
	gap: 40px;

	.loop-wrap {
		width: 100%;
		overflow: hidden;
	}

	.loop {
		display: flex;
		padding: 0;
		margin: 0;
		list-style: none;
		white-space: nowrap;
		will-change: transform;

		li {
			padding: 0 2vw;
			font-size: 6vw;
			white-space: nowrap;
		}
	}
}
