$font-weight-light:		300;
$font-weight-regular: 	400;
$font-weight-medium:	500;
$font-weight-semibold:	600;
$font-weight-bold:		700;
$font-weight-black:		900;

$font-size-xs:          0.875rem;	// 14px
$font-size-sm:          1.125rem;	// 18px
$font-size-md:			1.5rem; 	// 24px
$font-size-lg:          2.25rem;	// 36px
$font-size-xl:			4rem;
$font-size-2xl:         clamp(4rem, 12vw, 8rem);

$font-size-base:        $font-size-md;

$line-height-none:      1;
$line-height-tight:     1.15;
$line-height-normal:    1.5;
$line-height-relaxed:   1.75;

$letter-spacing-tight:  	-0.01em;
$letter-spacing-normal: 	0;
$letter-spacing-wide:   	0.025em;
$letter-spacing-extrawide:	3px;

$primary:				#0a15df;
$secondary:             #1AFFD5;
$white:					#ffffff;
$black:                 #000000;
