@use "../abstracts" as *;

section.about {
	z-index: 1;
	padding-top: calc(var(--section-padding) * 2);
	padding-bottom: var(--section-padding);

	.obviously {
		position: relative;
		z-index: 1;
		font-size: $font-size-2xl;
		text-decoration: underline;
		user-select: none;
		mix-blend-mode: difference;
	}

	.duh-gif {
		position: fixed;
		z-index: -1;
		display: none;
		width: 300px;
		height: auto;
		pointer-events: none;
	}
}

.about-section__title {
	font-size: 2.25rem;

	@include respond(md) {
		font-size: 4rem;
	}
}

.about-text > p:not(.about-section__eyebrow) {
	font-size: var(--font-size-body);
}

.wave {
	display: inline-block;
	animation-name: wave-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
}
