@use "../abstracts" as *;

.about {
	--section-space-start: calc(var(--section-space-editorial) * 2);
	--section-space-end: var(--section-space-editorial-compact);

	z-index: 1;

	.obviously {
		@include type-role(heading-small);

		position: relative;
		z-index: 1;
		text-decoration: underline;
		user-select: none;
		mix-blend-mode: difference;
	}

	.duh-gif {
		position: fixed;
		z-index: -1;
		display: none;
		width: 300px;
		height: auto;
		pointer-events: none;
	}
}

.about-section__title {
	@include type-role(display-medium);
}

.about-section__continuation {
	display: block;
	margin-block-start: 1em;
}

.wave {
	display: inline-block;
	animation-name: wave-animation;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	transform-origin: 70% 70%;
}
