@use "../abstracts" as *;

.home-photo-stack-section {
	position: relative;
	min-height: var(--viewport-height-dynamic);
	padding-block: 0;
	overflow: hidden;

	&__stage {
		position: relative;
		z-index: 1;
		display: grid;
		width: 100%;
		height: var(--viewport-height-dynamic);
		place-items: center;
		will-change: transform;
	}

	&__card {
		position: absolute;
		width: clamp(10rem, 28vw, 15rem);
		aspect-ratio: 3 / 4;
		transform-origin: center;
		transform-style: preserve-3d;
		will-change: transform;

		&--landscape {
			width: clamp(13rem, 34vw, 20rem);
			aspect-ratio: 3 / 2;
		}

		img {
			box-shadow: 0 1.5rem 5rem rgba(0, 0, 0, 0.35);
		}
	}

	&__photo {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform-origin: center;
		will-change: transform;
	}

	&__content {
		position: absolute;
		inset: 0;
		z-index: 1;
		display: grid;
		place-items: center;
		text-align: center;
		pointer-events: none;
	}

	&__title {
		//max-width: 11ch;
		font-size: 39cqw;
		margin-inline: auto;
		line-height: 0.9;
		overflow: visible;

		&.life-title .char {
			display: inline-block;
			will-change: transform, opacity;
		}
	}

	&__text {
		max-width: 44ch;
		margin-inline: auto;
	}

	@include respond(md, down) {
		&__card {
			width: clamp(8.5rem, 42vw, 13rem);

			&--landscape {
				width: clamp(12rem, 58vw, 17rem);
			}
		}

		&__title {
			max-width: 9ch;
		}

		&__text {
			max-width: 9ch;
		}
	}
}
