:root {
	font-family: "Bricolage Grotesque","Stara", "Satoshi", system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: $font-weight-regular;
	font-size: 1rem;

	color-scheme: light dark;
	color: $white;
	background-color: #0a15df;
	background-position: 50%;
	background-image: url('../images/dot2.png');
	background-attachment: fixed;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--container-padding: clamp(2.5em, 4vw, 4em);
}

#app {

	main {
		width: 100vw;

		.main-wrap {
			width: 100vw;
		}
	}
}

img {
	width: 100%;
	height: auto;
}