.site-footer {
	display: flex;
	justify-content: space-between;
	padding-bottom: 8rem;

	.social {
		font-size: $font-size-sm;

		a {
			color: currentColor;
			text-decoration: none;
		}

		.star {
			margin: 0 1rem;
		}
	}
}