$columns: 12;

//.container {
//	//display: flex;
//	margin: 0 auto;
//	max-width: 100em;
//	padding-left: var(--container-padding);
//	padding-right: var(--container-padding);
//}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	//max-width: 100em;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
}

.column {
	--columns: 12; /* Number of columns in the grid system */
	--width: 0; /* Default width of the element */

	flex-basis: calc(var(--width) / var(--columns) * 100%);
}

@for $width from 1 through $columns {
	.col-#{$width} {
		flex-basis: $width / $columns * 100%;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@for $width from 1 through $columns {
	.offset-#{$width} {
		margin-left: $width / $columns * 100%;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	width: 100%;
	margin-left: -2rem;
	margin-right: -2rem;
}


.header {
	--width: 12;
}

.content {
	--width: 12;
}

.sidebar {
	--width: 12;
}

@media (min-width: 576px) {
	.content {
		--width: 6;
	}

	.sidebar {
		--width: 6;
	}
}

@media (min-width: 768px) {
	.content {
		--width: 8;
	}

	.sidebar {
		--width: 4;
	}
}