h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	font-weight: $font-weight-medium;
}

h3 {
	text-transform: uppercase;
	font-size: 1.5rem;
}

.marquee {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow: hidden;

	& > * {
		display: flex;
		align-items: center;
		//text-transform: uppercase;
		will-change: transform;
		transform: translateX(0);
		white-space: nowrap;
		animation: marquee 20s linear infinite;

		// Extra Styling
		font-size: 12.5rem;

		.star {
			margin: 0 4rem;
			font-size: 6rem;
		}
	}
}

.line {
	position: relative;
	overflow: hidden;

	& > * {
		position: absolute;
	}
}